.searchBox {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 1rem;
}

/*Separate the title and loader*/
.searchTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*Expand the label width*/
.searchBox label[for="dataset-search"] {
  width: 100%;
}

/*Unset the loader min height*/
.searchLoader {
  min-height: unset;
}
