.iframe {
  min-height: 100vh;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
  align-items: center;
  background-color: whitesmoke;
}

.buttonContainer > button {
  max-width: unset;
}

.tabContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.centerUploadManuscript {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 42rem) {
  .centerUploadManuscript {
    padding-top: 15vh;
  }

  .buttonContainer {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
