.iframe {
  min-height: 100vh;
}

.infotext {
  margin-top: 24px;
  color: red;
  font-weight: 500;
  font-size: 1rem;
}

.datasource {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 8px;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
}

.deleteManuscript {
  justify-self: end;
}
