.datasources {
  padding-top: 24px;
  row-gap: 24px;
}

.datasourceModal {
  background-color: transparent;
  justify-content: flex-start;
  width: 90vw;
}

.datasourceModal > div[role="dialog"] {
  position: static;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.inlineLoading {
  margin-right: 0.25rem;
}

@media (min-width: 42rem) {
  .datasourceModal {
    width: 320px;
  }
}
