.ar--form-container {
  max-width: 800px;
  margin: 0 auto;
}

.ar--form-title {
  margin-bottom: 0.25rem;
}

.ar--form-desc {
  margin-bottom: 2rem;
}

.ar--form-item {
  margin-bottom: 1.5rem;
}

.ar--form-submit-btn {
  margin-top: 2rem;
}
