.container {
  border-bottom: 0.5px solid #525252;;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logolink {
  cursor: pointer;
  font-size: 1.5rem;
}
