.container {
  border-bottom: 1px solid #dbdbdb;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoLink {
  cursor: pointer;
  font-size: 1.5rem;
}
