.resultContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.atiContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

@media (min-width: 42rem) {
  .resultContainer {
    grid-template-columns: 0.25fr 1fr;
    align-items: start;
  }
}
