.atiProject {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #dfdfe7;
  display: grid;
  grid-template-columns: auto;
  row-gap: 4px;
}

.atiProject h2 {
  display: flex;
  align-items: center;
}

.atiProject h2 > a {
  font-size: 1.25rem;
  font-weight: 600;
}

.titleContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
  column-gap: 8px;
}

.atiProject p {
  font-size: 0.875rem;
}

.citation {
  padding: 4px;
  background-color: #dfdfe7;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 42rem) {
  .titleContainer {
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
  }
}
