.section {
  margin-top: 24px;
}

.header {
  font-size: 1rem;
  font-weight: 550;
}

.listcontainer {
  padding-left: 16px;
}

.buttoncontainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 8px;
}
