.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-bottom: 0.5rem;
}

.desc {
  margin-bottom: 2.5rem;
}

/** indent the list */
.desc > ol {
  margin-left: 2rem;
}

.item {
  margin-bottom: 2rem;
}

.submitBtn {
  margin-top: 1rem;
}
