html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ar--form-container {
  max-width: 800px;
  margin: 0 auto;
}

.ar--form-title {
  margin-bottom: 4px;
}

.ar--form-desc {
  margin-bottom: 32px;
}

.ar--form-item {
  margin-bottom: 24px;
}

.ar--form-submit-btn {
  margin-top: 32px;
}

.ar--secondary-text {
  color: #525252;
}

.ar--datasource-modal {
  background-color: transparent !important;
  justify-content: start !important;
  width: 100vw !important;
}

.ar--datasource-modal > .bx--modal-container {
  width: 100% !important;
}

@media screen and (min-width: 42rem) {
  .ar--datasource-modal {
    width: 320px !important;
  }
}


.react-pdf__Page__textContent span {
  color: transparent;
	opacity: 0.25;
}

.react-pdf__Page__textContent span::selection {
	background-color: blue;
}

.react-pdf__Document {
	line-height: initial;
}
