html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bx--inline-notification {
  width: 100% !important;
  max-width: 100% !important;
}

.react-pdf__Page__textContent span {
  opacity: 0.25;
}

.react-pdf__Page__textContent span::selection {
  background-color: blue;
}

.react-pdf__Document {
  line-height: 1;
}

.hypothesis-highlight {
  background-color: yellow !important;
}

.hypothesis-highlight::selection {
  background-color: blue;
}

/*Dont hide the scrollbar when modal is open. Prevent manuscript's width from changing and removing highlights*/
body.bx--body--with-modal-open {
  overflow: auto;
}
