.callout {
  display: grid;
  row-gap: 8px;
  max-width: 32rem;
  margin: auto;
}

.callout p {
  font-size: 1rem;
}

.loggedInContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}
