.callout {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.callout p {
  font-size: 1rem;
}

.callout * {
  text-align: center;
}

.loggedInContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}
